<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            body {
                width: 49mm;
                <!-- margin: -40px; -->
                padding: 0;
            }

            div.tiket {
            display: flex;
            justify-content: center;
            background-color: antiquewhite;
            }

            img .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        </style>
    </head>

    <body>
        <div class="tiket">
            <div class="logo center">qwasdeqee</div>
            <!-- <img class="center" src="data:image/png;base64,' . {{$qr}} . '" /> -->
        </div>
    </body>
</html>
